<div
  class="popcat-container"
  (mousedown)="onMouseDown()"
  (mouseup)="onMouseUp()"
  (touchstart)="onTouchStart($event)"
  (touchend)="onTouchEnd($event)"
>
  <img
    [src]="isPopped ? '/assets/img/002.webp' : '/assets/img/001.png'"
    class="Popcat my-4"
  />
  <h3 class="m-0 p-0 text-white">คะแนน</h3>
  <h1 class="m-0 p-0 text-white" style="font-size: 6rem !important">{{ clickCount }}</h1>
  <br />
  <h5 class="m-0 p-0 text-white">
    <i class="fas fa-location-pin text-danger"></i> {{ ipAddress }} |
    <span class="text-danger">{{ storedClickCount | number }} </span>คะแนน
  </h5>
</div>

<audio #clickSound>
  <source [src]="'/assets/cry-banana-cat.mp3'" type="audio/mpeg" />
</audio>
