<div
  class="popcat-container my-auto"
  (mousedown)="onMouseDown()"
  (mouseup)="onMouseUp()"
  (touchstart)="onTouchStart($event)"
  (touchend)="onTouchEnd($event)"
>
  <img
    [src]="isPopped ? '/assets/img/002.webp' : '/assets/img/001.png'"
    class="Popcat my-4"
  />
  <h3 class="m-0 p-0 text-white">คะแนน</h3>
  <h1 class="m-0 p-0 text-white" style="font-size: 6rem !important">{{ clickCount }}</h1>
  <br />
  <div class="m-0 p-0 text-white text-center">
    <p class="mb-3" style="font-size: 2rem;">{{ storedClickCount | number }} point</p>
    <p><i class="fas fa-location-pin text-danger mr-3"></i>  {{ ipAddress }} </p>
  </div>
</div>


<audio #clickSound>
  <source src="https://www.myinstants.com/media/sounds/pop-cat-original-meme_3ObdYkj.mp3" type="audio/mpeg" />
</audio>
