@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;1,300&display=swap");
body {
  font-family: "Kanit", sans-serif !important;
  background-color: black !important;
  background-size: auto;
  background-repeat: no-repeat;
}
